.white-card {
	width: 200px;
    text-align: left;
    font-size: 20px;
    height: 275px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
    padding: 20px 0px 0px 15px;
    background-color: white;
    color: black;
    margin: 10px auto;
    
}

.white-card:hover {
	box-shadow: 10px 5px 5px gray;
	-webkit-animation-name: Floatingx;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 7px);}
    to {-webkit-transform: translate(0, -0px);}    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 7px);}
    to {-moz-transform: translate(0, -0px);}    
}