.game-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #D3D3D3;
}

.black-card-container {
	background-color: #000;
	width: 200px;
    margin: 20px auto;
    padding: 20px 0px 0px 15px;
    text-align: left;
    font-size: 20px;
    height: 275px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
}

.nav {
	float:left;
	margin-left: 5px;
}

