.game-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-color: #D3D3D3;
  background-image: url("./../../../../public/drizzle.jpg");
	background-size: cover;
	background-position: top;
}

.nav {
	right:0;
	position:absolute;
}

.game-data {
	float: left;
	text-align: left;
	margin-left: 20px;
	color: black;
	font-size: 25px;
}

.game-nav {
	width:100%;
}