.black-card-deck {
    padding-top: 5%;
    margin-top:10px;
    margin-left: 45%;
}

.black-card {
    background-color: #000;
    width: 200px;
    margin: 5px 0px 0px -5px;
    text-align: left;
    font-size: 20px;
    height: 275px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
}

.click-me {
    text-align: center;
    margin-top: 50%;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.click-link {
    text-decoration:none;
    color:white;
}

.black-card:hover {
    cursor:pointer;
}