.black-card-deck {
    padding-top: 5%;
    margin-top:10px;
    margin-left: 45%;
}

.black-card {
    background-color: #000;
    background-image: url("./../../../../../public/pancake-syrup.png");
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center;
    // width: 200px;
    width: 350px;
    margin: 5px 0px 0px -5px;
    text-align: left;
    font-size: 20px;
    height: 275px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
    color: #000;
}

.click-me {
    // text-align: center;
    // margin-top: 50%;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    // color: white;
    text-shadow: 0.5px 0 0 white, -0.5px 0 0 white, 0 0.5px 0 white, 0 -0.5px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

.click-link {
    text-decoration:none;
    color:white;
}

.black-card:hover {
    cursor:pointer;
}
