$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

body {
	min-height: 100%;
	background: #000;
	font-family: 'Roboto', sans-serif;
	color: #FFF;
}

html {
	min-height: 100%;
}

/*
==============================================
floating
==============================================
*/

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(2%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(2%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}