$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

body {
	min-height: 100%;
	background: #000;
	font-family: 'Roboto', sans-serif;
	color: #FFF;
}

html {
	min-height: 100%;
}